html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* AboutSection.css */

.about-section {
    margin: 0 auto;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width:fit-content;
    border-radius: 18px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-section h2 {
    font-size: 38px;
    margin-bottom: 15px;
  }
  
  .about-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .about-section p:last-child {
    margin-bottom: 0;
  }

  .weather-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    background-color: #f7f7f7;
  }
  
  .weather-icon {
    font-size: 100px;
    margin-bottom: 10px;
    color: #f7a70a; /* Yellow color for the sun icon */
  }
  
  .weather-description h2 {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .weather-description p {
    font-size: 16px;
    margin: 2px 0;
    text-align: center;
  }
  
  .weather-description p:first-child {
    font-weight: bold;
  }
  
  .loading {
    font-size: 16px;
    text-align: center;
    color: #888;
  }
  
  .input-group{
    margin: 20px auto;
    border-radius: 10px;
  }
  

  .container1{
    margin-top: 20px;
    border: 2px solid #ccc;
    border-width: 0.5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Footer.css */
.footer {
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
}
